@model Cumulative1.Models.Teacher
<div id="container">
	<nav>
		<a class="nav" href="/TeacherPage/ListTeacher">Back To Teachers</a>
	</nav>
	<h2>New teacher</h2>
	<form method="POST" action="/TeacherPage/Create">
	

		<div class="input-row">
			<label for="TeacherFName">First Name:</label>
			<input type="text" id="TeacherFname" name="TeacherFname"/>
		</div>

		<div class="input-row">
			<label for="TeacherLName">Last Name:</label>
			<input type="text" id="TeacherLname" name="TeacherLname" />
		</div>

		<div class="input-row">
			<label for="EmployeeNumber">Employee Number:</label>
			<input type="text" id="EmployeeNumber" name="EmployeeNumber" />
		</div>


		<div class="input-row">
			<label for="TeacherHireDate">Hire Date:</label>
			<input type="datetime" id="TeacherHireDate" name="TeacherHireDate"/>
		</div>

		<div class="input-row">
			<label for="TeacherSalary">Salary:</label>
			<input type="text" id="salary" name="salary" />
		</div>

		<div class="input-row">
		<input type="submit" value="Create Teacher"/>
		</div>

	</form>

</div>