@using Cumulative1.Models

@model IEnumerable<Course>
@foreach(Course course in Model)
{
	<div>
		<h2>Course</h2>
		<a href="/CoursePage/ShowCourse/@course.CourseId">@course.CourseCode @course.CourseName</a>
		<a href="/CoursePage/EditCourse/@course.CourseId">Update Course</a>
	</div>
}
