@using Cumulative1.Models

@model IEnumerable<Course>
@foreach(Course course in Model)
{
	<div>
		<h2>Course</h2>
		<a hred="/CoursePage/ListCourse/@course.CourseId">@course.CourseCode @course.CourseName</a>
	</div>
}
