@using Cumulative1.Models

@model IEnumerable<Student>
@foreach(Student student in Model)
{
	<div>
		<h1>Students</h1>
		<a href="/StudentPage/ListStudent/@student.StudentId"> @student.StudentFName @student.StudentLName</a>
	</div>
}